
@{
    ViewData["Title"] = "BusinessToBusiness";
    @model Application.BusinessToBusiness.Queries.BusinessToBusinesListModel
}
<style>
    .btn-space {
        margin-right: 5%;
    }

    .row-space {
        margin-top: 3%;
    }

    .badge-primary {
        color: #fff;
        background-color: #007bff;
    }

    .dashBoard {
        max-height: 200px;
        overflow-y: scroll;
        display: none;
    }

    .caption {
        font-size: 100%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
    }

    .dashboardHeader {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>
<h2>Business To Business</h2>
<div class="container">
    <form asp-controller="Home">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Country</label>
                    <div class="sltCustomerFilterCity">
                        <select asp-for="Filter.CountryId" id="b2bCuntryId"
                                class=form-control multiple placeholder="Please select"
                                asp-items="@Model.Filter.Countries"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">City</label>
                    <div class="sltCustomerFilterCity">
                        <select asp-for="Filter.CityId" id="b2bCityId"
                                class=form-control multiple placeholder="Please select"
                                asp-items="@Model.Filter.Cities"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Business Category</label>
                    <div class="sltCustomerFilterCity">
                        <select asp-for="Filter.BusinessCategoryId" id="b2bBusinessCategoryId"
                                class=form-control multiple placeholder="Please select"
                                asp-items="@Model.Filter.BusinessCategories"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tags</label>
                    <input type="hidden" id="hdnB2BTags" value="@Model.Filter.Tags" />
                    <input type="text" class="form-control" id="b2btags" placeholder="Search Tags" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">State</label>
                    <div class="sltCustomerFilterCity">
                        <select asp-for="Filter.StateId" id="b2bStateId"
                                class=form-control multiple placeholder="Please select"
                                asp-items="@Model.Filter.States"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Area</label>
                    <div class="sltCustomerFilterCity">
                        <select asp-for="Filter.AreaId" id="b2bAreaId"
                                class=form-control multiple placeholder="Please select"
                                asp-items="@Model.Filter.Area"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Desigination</label>
                    <div class="sltCustomerFilterCity">
                        <select asp-for="Filter.DesiginationId" id="b2bDestinationId"
                                class=form-control multiple placeholder="Please select"
                                asp-items="@Model.Filter.Desigination"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="text-align:center;">
            <button type="button" class="btn btn-primary btn-space">Cancel</button>
            <button type="button" id="btnBusinessToBusinessSearch" class="btn btn-success btn-space">Search</button>
        </div>
    </form>

    <div class="row row-space">
        <div class="col-xs-6 col-md-8">
            <div class="card" style="width: 90%; height:30%;">
                <div class="card-body">
                    <div class="row dashboardHeader">
                        <div class="col-6 col-md-4" style="text-align:center">
                            <h4 class="card-title">Customer Data</h4>
                        </div>
                        <div class="col-6 col-md-4" style="text-align:center">
                            <h4 class="card-title">Total: <span id="spnb2bTotal"></span></h4>
                        </div>
                        <div class="col-6 col-md-4" style="text-align:center">
                            <h4 class="card-title">Search: <span id="spnb2bSearchTotal"></span></h4>
                        </div>
                    </div>
                    <p class="card-text">
                        <div id="dashboardb2bBlock" class="dashBoard">
                            <ul class="list-group" id="dashBoardb2bItem"></ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">

            <div class="btn-group">

                <div class="btn-group">
                    <input type="hidden" id="downloadb2bLink" />
                    <button type="button" class="btn btn-primary" id="btnb2bDownloadExcel">
                        Download(Excel) <span class="caret"></span>
                    </button>
                    <button type="button" class="btn btn-primary" id="btnb2bDownloadCSV">
                        Download(CSV) <span class="caret"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
